body {
	font-family: "Open Sans", sans-serif;
	color: #555;
	font-size: 14px;
}

label {
	display: block;
	width: 200px;
	height: 18px;
	text-align: left;
}

select {
	display: inline-block;
	width: 200px;
}

pre{
	display: block;
	width: 200px;
	overflow: scroll;
}

.irs-select {
	margin: 15px 0 0 0;
}

.irs-select.first{
	margin: 0;
}

.btn {
	padding: 10px 5px;
	margin: 20px auto 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #555;
	border-radius: 5px;
}

.btn.active {
	color: #4CAF50;
	border-color: #4CAF50;
	cursor: pointer;
}
.btn.active:hover, .btn.active:active {
	color: white;
	background-color: #4CAF50;
	border-color: #4CAF50;
}
